<div class="heading-container">
    <h3>Bed Layout</h3>
    <button class="btn btn-info" (click)="beds.selectedLayout=1">
        Layout 1
    </button>

    <button class="btn btn-info" (click)="beds.selectedLayout=2">
        Layout 2
    </button>
</div>

<div class="bed-layout" *ngIf="beds.selectedLayout === 1">
    <ng-container *ngFor="let bed of beds.bedMap | keyvalue">
        <div class="bedbox-1 occupied" [ngStyle]="{'border': borderStyle}" *ngIf="bed.value; else emptyBlock"
            (click)="onClickBed(bed.key)">{{bed.key}}
            <ng-container *ngFor="let patient of patientList">
                <div class="alertbox"
                    *ngIf="bed.key === patient.bedId && (patient.temperatureAlert || patient.spo2Alert || patient.pulseRateAlert)">
                    ALERT</div>
            </ng-container>
        </div>
        <ng-template #emptyBlock>
            <div class="bedbox-1 empty" (click)="onClickBed(bed.key)">{{bed.key}}</div>
        </ng-template>
    </ng-container>
</div>

<div class="bed-layout" *ngIf="beds.selectedLayout === 2">
    <ng-container *ngFor="let bed of beds.bedMap | keyvalue">
        <div class="bedbox-2 occupied" [ngStyle]="{'border': borderStyle}" *ngIf="bed.value; else emptyBlock"
            (click)="onClickBed(bed.key)">{{bed.key}}
            <ng-container *ngFor="let patient of patientList">
                <div class="alertbox"
                    *ngIf="bed.key === patient.bedId && (patient.temperatureAlert || patient.spo2Alert || patient.pulseRateAlert)">
                    ALERT</div>
            </ng-container>
        </div>
        <ng-template #emptyBlock>
            <div class="bedbox-2 empty" (click)="onClickBed(bed.key)">{{bed.key}}</div>
        </ng-template>
    </ng-container>
</div>