div .bedbox {  
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;  
    /* width: 100px;     */
    margin: 5px;    
    border: 2px solid black;
}

div .bedbox.occupied {
    background-color: #9DE0AD;
}

div .bedbox.empty {
    background-color: #A8A7A7 ;
}

.bed-layout {
    display: flex;
    flex-wrap: wrap;
}

.alertbox {
    color: red;
}

.heading-container {
    margin: 5px;
}

.btn.btn-info {
    margin: 2px;
}