.patient-detail-container {
    padding-bottom: 60px;
    overflow: auto;
    margin: 6px;
}

.row {
    display: flex;
    width: 70%;    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;   
}

.col-md-4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.patient-table-container {
    margin-bottom: 1rem;
}

.btn-warning{
    margin: 5px;
}

.remove-alerts-container{
    display: flex;
}

.navigate-btn-container{
    display: flex;
}