<form class="patient-form-class" [formGroup]="patientForm" (ngSubmit)="onSubmit()">

    <h1 class="display-4">Enter patient details</h1>

    <div class="form-group">
        <label>Patient ID<span class="required-asterisk">*</span></label>
        <input type="text" formControlName="patientId" class="form-control">
        <span *ngIf="(patientId.dirty || patientId.touched) && patientId.invalid && patientId.errors.required">
            Patient ID is required.
        </span>
    </div>
    <div class="form-group">
        <label>Bed ID<span class="required-asterisk">*</span></label>
        <select id="statusDropdown" class="form-control" formControlName="bedId">
            <ng-container *ngFor="let bed of beds.bedMap | keyvalue">
                <option *ngIf="!bed.value" [ngValue]="bed.key">{{bed.key}}</option>
            </ng-container>
        </select>
        <span *ngIf="(bedId.dirty || bedId.touched) && bedId.invalid && bedId.errors.required">
            Bed ID is required.
        </span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
        <span *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
            Patient name is required.
        </span>
    </div>

    <div class="form-group">
        <label>Age<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" formControlName="age">
        <span *ngIf="(age.dirty || age.touched) && age.invalid && age.errors.required">
            Patient age is required.
        </span>
        <span *ngIf="(age.dirty || age.touched) && age.invalid && age.errors.invalidAge">
            Patient age has to be a number.
        </span>
    </div>

    <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control" formControlName="gender">
        <span *ngIf="(gender.dirty || gender.touched) && gender.invalid && gender.errors.required">
            Patient gender is required.
        </span>
    </div>

    <div class="button-container">
        <button type="button" class="btn btn-primary" routerLink="/dashboard">Back</button>
        <button type="submit" class="btn btn-primary" [disabled]="!patientForm.valid">Submit</button>
    </div>

</form>